
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-school{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

{% block content %}
<div class="login_form" style="margin-top:20px;">
        <div class="">
            <img src="{% static 'images/logoE.png' %}" alt="Logo">
        </div>

        <div id="login_form">
            <h2>Admin Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
                </form>
        </div>
</div>
{% endblock %}

<footer>
    <div class="footer">
    <p>&copy; 2024 E-school</p>
</div>
</footer>
</body>
</html>

