<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-school{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
        <div class="header">
            
        <div class="user">
            <center><p>You are logged in as: {{ lecturer_profile.name }}</p></canter>
            </div>

        <div class="logout_btn">
            <a href="{% url 'logout' %}"><button>Logout<img src="{% static 'images/btn-login-hover.png' %}"></button></a>
        </div>
    </div>
    
         <div>
        <nav class="sidenav">
            <img src="{% static 'images\Blue Modern Letter C Tech Logo Design (1).png' %}" alt="Logo">
        
            <table>
              <tr><td><a href="{% url 'lecturer_profile' %}">Dashboard</a></td></tr> 
              <tr><td><a href="{% url 'assigned_units' %}">Assigned Units</a></td></tr>
              <tr><td><a href="{% url 'take_attendance' %}">Generate QR Code</a></td></tr>
            </table>
        <footer>
            <div class="footer">
            <p>&copy; 2024 Chaya-Technologies</p>
        </div>
        </footer>
    </nav>
    </div>

    <!-- Main content area -->
    <main>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </main>

</div>
</body>
</html>
