<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-school{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

{% block content %}
<div class="center-container">
<div class="login_form" style="margin-top:20px;">
            <img src="{% static 'images\Blue Modern Letter C Tech Logo Design (1).png' %}" alt="Logo">

        <div id="login_form">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
            
                    <button class="logout_btn" type="submit">Login</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}

<footer id="login-footer" style="position: fixed; bottom: 0; width: 100%;">

    <div class="footer">
    <p>&copy; 2024 Chaya-Technologies</p>
</div>
</footer>
</body>
</html>

