{% extends "student_dashboard.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Units</title>
</head>
<body>
    <h2>Choose Academic Year</h2>
    <form method="post">
        {% csrf_token %}
        <label for="year">Choose Year:</label>
        <select name="year" id="year">
            <option selected disabled>--Select Year--</option>
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>

    {% if units %}
        <h2>Units for Selected Year</h2>
        <table>
            {% for unit in units %}
            <tr>
                <td>{{ unit.name }} - {{ unit.code }}</td>
                <td><form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="unit_id" value="{{ unit.id }}">
                    <button type="submit">Add Unit</button>
                </form></td>
            </tr>
            {% endfor %}
            </table>
    {% else %}
        <p>No units found for the selected year.</p>
    {% endif %}


</body>
</html>


{%endblock%}

{% comment %} <!DOCTYPE html>

    <h2>Register Units</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register Unit</button>
    </form>

    <h2>Units in Progress:</h2>
    <ul>
        {% for unit in  UserUnit%}
            <li>{{ unit.name }} - {{ unit.code }}</li>
        {% endfor %}
    </ul>

{%endblock%}
 {% endcomment %}
