{% extends "student_dashboard.html" %}

{% block content %}
<div class="container">
    <h2>Choose Academic Year</h2>
    <form method="post">
        {% csrf_token %}
        <label for="academic_year">Choose Year:</label>
        <select name="academic_year" id="year">
            <option selected disabled>--Select Year--</option>
            {% for academic_year in academic_years %}
                <option value="{{ academic_year }}">{{ academic_year }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>

    {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

    {% if units %}
        <h2>Units for Selected Year</h2>
        <table class="tables">
            <tr>
                <th>Unit Name</th>
                <th>Unit Code</th>
                <th>Action</th>
            </tr>
            {% for unit in units %}
            <tr>
                <td>{{ unit.name }}</td>
                <td>{{ unit.code }}</td>
                <td><form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="unit_id" value="{{ unit.id }}">
                    <button type="submit">Add Unit</button>
                </form></td>
            </tr>
            {% endfor %}
            </table>
    {% else %}
        <p>No units found for the selected academic year.</p>
    {% endif %}


        </div>

        <div class="container">
            <h2>Selected Units</h2>
            {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% if cart_items %}
        <table class="tables">
            <tr>
                <th>Unit Name</th>
                <th>Unit Code</th>
                <th>Actions</th>
            </tr>
            {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.unit.name }}</td> 
                    <td>{{ cart_item.unit.code }}</td>
                    <td>
                        <form method="post" action="{% url 'remove_from_cart' cart_item.unit.id %}">
                            {% csrf_token %}
                            <button type='submit'>Remove Item</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form method="post" action="{% url 'register_units' %}">
            {% csrf_token %}
            <button type="submit" class="button">Register Units</button>
        </form>
    {% else %}
        <p>No units selected.</p>
    {% endif %}
</div>


{%endblock%}

{% comment %} <!DOCTYPE html>

    <h2>Register Units</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register Unit</button>
    </form>

    <h2>Units in Progress:</h2>
    <ul>
        {% for unit in  UserUnit%}
            <li>{{ unit.name }} - {{ unit.code }}</li>
        {% endfor %}
    </ul>

{%endblock%}
 {% endcomment %}
