@import url('https://fonts.googleapis.com/css?family=Trirong&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
    /* background-image: url('../images/bg1.avif'); */
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 10px;
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    float: right;
    border: 1px solid aliceblue;
    border-radius: 2vh;
    margin-top: 2vh;
    height: 12vh;
    overflow: hidden;
    background-color: aliceblue;
}

.user p {
    font-weight: bold;
}

.logout_btn button {
    float: right;
    font-weight: bold;
    background-color: rgb(33, 202, 174);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.sidenav {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 30vh;
    height: 100vh;
    background-color: black;
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidenav img {
    width: 23vh;
    margin-bottom: 20px;
}

.sidenav td {
    text-align: center;
    padding: 20px;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    display: block;
    padding: 10px 0;
}

.sidenav td a:hover,
a:active {
    background-color: aliceblue;
    color: black;
    width: 30vh;
    border-radius: 20px;
}

.container {
    grid-column: 2;
    grid-row: 2;
    float: right;
    background-color: aliceblue;
    margin: 1vh;
    padding: 20px;
    width: 77%;
    border-radius: 2vh;
    overflow-y: scroll;
    max-height: 80vh;
}

footer {
    display: inline-block;
    background-color: black;
    border: 1px solid rgb(137, 182, 219);
    color: aliceblue;
    text-align: center;
    align-items: baseline;
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 0;
    overflow-y: auto;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    background-color: black;
    color: aliceblue;
    width: 60vh;
    display: block;
    border-radius: 50px 50px 50px 50px;
    border-right: 2px solid rgb(137, 182, 219);
    border-left: 2px solid rgb(137, 182, 219);
    height: 60vh;
}


/* .login_form input[type=text],
select {
    color: #2A2D33;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(26, 95, 84);
}

.login_form input[type=password],
select {
    color: #2A2D33;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(26, 95, 84);
} */

.login_form img {
    width: 40vh;
    height: 25vh;
    margin: 0vh 8vh;
    border-radius: 20px 20px 20px 20px;
}

#login_form {
    color: aliceblue;
    font-size: 20px;
    margin-left: 10vh;
}

#login_form button {
    background-color: rgb(5, 13, 22);
    color: white;
    padding: 5px;
    border: 0;
    font-size: 20px;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid rgb(137, 182, 219);
    margin: 30px 0 20px 7vh;
    width: 28vh;
    height: 4opx;
    font-weight: bold;
}

.login_form button:hover {
    color: rgb(137, 182, 219);
}


/*Register someone*/

.reg_btn button {
    background-color: rgb(9, 204, 171);
    padding: 5px;
    border: 0;
    font-size: 15px;
    border-radius: 5px 5px 5px 5px;
    width: 10vh;
    font-weight: bold;
}

.profile {
    display: flex;
    border: 1px;
    padding: 5px;
}

.profile td {
    padding: 5px;
    font-size: 19px;
}

.button {
    background-color: rgb(33, 202, 174);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: rgb(33, 82, 74);
    color: white;
}

.container #year {
    width: 50%;
    color: black;
    font-size: 15px
}

#year_btn {
    background-color: rgb(33, 202, 174);
    padding: 14px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
}

#year_btn:hover {
    background-color: rgb(33, 82, 74);
    color: white;
}

.update {
    overflow: auto;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
}

.update input[type=text],
select {
    color: #2A2D33;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(61, 85, 81);
    border-radius: 4px;
    box-sizing: border-box;
}

.update button {
    width: 40%;
    background-color: rgb(33, 202, 174);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update button:hover {
    background-color: rgb(33, 82, 74);
    color: white;
}

#tables {
    margin-left: 10%;
    width: 70%;
}

.tables td {
    padding: 10px;
    font-size: 17px;
}

.tables th {
    border: 1px solid black;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(33, 82, 74);
    color: white;
}

.tables tr:nth-child(odd) {
    background-color: rgb(200, 247, 239);
}

.alert {
    background-color: rgb(171, 201, 171);
    color: rgb(59, 5, 5);
    border-radius: 10px;
    font-size: 17px;
    padding: 6px;
    opacity: 0.9;
}

#select_date {
    margin-left: 23%;
}

#select_date label {
    border: 1px solid #ddd;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(33, 82, 74);
    color: white;
    font-size: 17px;
}

#select_date select {
    width: 150px;
    color: black;
}


/*admin*/

#reg_form {
    font-size: 17px;
    font-weight: bold;
}

#reg_form input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(61, 85, 81);
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}

#reg_form button {
    width: 100%;
    background-color: rgb(33, 202, 174);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form {
    font-size: 19px;
}

.form button {}